*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}

.backgorund-container{
  font-family: 'Roboto Condensed', sans-serif;
  /* background-color: black; */
  background-image: url(../img/legno.png);
}

.container{
  margin-top: 20px;
  width: 1000px;
  margin: auto;
}

.upper-box{
  color: white;
  height: 290px;
  margin-bottom: 5px;
  text-transform: uppercase;
  text-align: center;
}

.upper-header{
  position: relative;
  width: 1000px;
  height: 250px;
  background-image: url(../img/bosco.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border: 10px solid white;
}

.header-bottom{
  width: 1000px;
  height: 30px;
  background-color: grey;
  text-align: center;
}

.header-bottom li{
  display: inline-block;
  font-size: 12px;
  color: white;
  line-height: 30px;
  margin-right: 20px;
  font-weight: 1000;
}

.header-bottom li:hover{
  background-color: lightgrey;
  text-shadow: 2px 2px 2px black;
}


.central-logo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.central-logo h1{
  text-align: center;
  display: inline-block;
  font-size: 60px;
  padding: 2px;
  border: 5px solid white;
}
.central-logo h3{
  padding-top: 30px;
}

main{
  margin: 1% 0;

}

main::after{
  content: '';
  display: table;
  clear:both;
}
.fa-rss-square{
  color: orange;
  font-size: 40px;
  float: left;
  margin-left: 5px;
  margin-top: 5px;
}


.colonna1{
  width: 23%;
  margin-right: 2%;
  background-color: white;
  float: left;
  border-radius: 5px;
}

.colonna1 h2{
  display: inline-block;
  color: grey;
  margin-left: 10px;
  margin-top: 10px;
}

.colonna1 p{
  margin-left: 10px;
  margin-top: 5px;
  margin-right: 20px;
}

.colonna1 a{
  color: green;
}

.colonna1 h2::after{
  content: '';
  display: table;
  clear: both;
}

.colonna2{
  width: 50%;
  background-color: white;
  border-radius: 5px;
  color: grey;
  float: left;
}

.colonna2 h2{
  margin-left: 40px;
  margin-top: 40px;
  text-transform: uppercase;
  /* text-shadow: 2px 2px 1px; */
}

.colonna2 p{
  color: black;
  margin: 40px;
}

.colonna3{
  width: 23%;
  margin-left: 2%;
  float: left;
}

.blocco{
  width: 100%;
  margin-bottom: 5%;
  border-radius: 5px;
  background-color: white;
}

.blocco h2{
  text-transform: capitalize;
  color: grey;
  padding: 40px;
  padding-bottom: 0;
}

.blocco p{
  padding: 40px;
}

.footer{
  width: 1000px;
  height: 100px;
  background-color: white;
  border-radius: 5px;
  margin-top: 5px;
}

.footer p{
  color: lightgrey;
  border-bottom: 2px solid lightgrey;
  text-align: center;
}

.logo-container{
  position: relative;
  width: 33%;
  height: 100%;
  float: left;
}

.fa-facebook-f{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(50%,50%);
  color: grey;
  font-size: 20px;
}

.fa-instagram{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(50%,50%);
  color: grey;
  font-size: 20px
}

.fa-github{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(50%,50%);
  color: grey;
  font-size: 20px;
}
