*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}

.container{
  width: 1000px;
  margin: auto;
}

.upper-box{
  /* background-color: yellow; */
  color: white;
  height: 250px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.upper-header{
  position: relative;
  width: 1000px;
  height: 200px;
  background-image: url(../img/bosco.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border: 10px solid white;
}

.central-logo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.central-logo h1{
  text-align: center;
}

main{
  width: 100%;
}

main::after{
  content: '';
  display: table;
  clear:both;
}

.colonna1{
  width: 248px;
  margin-left: 0;
  background-color: pink;
  float: left;
}

.colonna2{
  width: 471px;
  margin-left: 15px;
  margin-right: 15px;
  background-color: violet;
  float: left;
}

.mini-container{
  width: 25%;
  float: left;
}

.colonna3{
  width: 248px;
  margin-left: 3px;
  background-color: pink;
}

.blocco{
  width: 248px;
  margin-top: 5px;
  margin-left: 3px;
  background-color: pink;
}

.footer{
  width: 1000px;
  height: 100px;
  background-color: blue;
  margin-top: 5px;
}
