*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}

.backgorund-container{
  width: 100vw;
  height: 100vh;
  /* background-color: black; */
  background-image: url(../img/legno.png);
}

.container{
  margin-top: 20px;
  width: 1000px;
  margin: auto;
}

.upper-box{
  /* background-color: yellow; */
  color: white;
  height: 285px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.upper-header{
  position: relative;
  width: 1000px;
  height: 250px;
  background-image: url(../img/bosco.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border: 5px solid white;
}

.central-logo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.central-logo h1{
  text-align: center;
  display: inline-block;
  font-size: 60px;
  padding: 2px;
  border: 2px solid white;
  margin-left: 12%;
}
.central-logo h3{
  padding-top: 30px;
}

main{
  margin: 1% 0;
}

main::after{
  content: '';
  display: table;
  clear:both;
}

.colonna1{
  width: 23%;
  margin-right: 2%;
  background-color: pink;
  float: left;
}

.colonna2{
  width: 50%;
  background-color: violet;
  float: left;
}

.colonna3{
  width: 23%;
  margin-left: 2%;
  float: left;
}

.blocco{
  width: 100%;
  margin-bottom: 5%;
  background-color: pink;
}

.footer{
  width: 1000px;
  height: 100px;
  background-color: blue;
  margin-top: 5px;
}
